.place {
    width: 100%;
    margin: 0 0 80px;
    display: grid;
    grid-template-columns: minmax(auto, 460px) 1fr;
    gap: 48px 40px;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media (max-width: 1024px) {
    .place {
        width: 100%;
        grid-template-columns: minmax(auto, 440px) 1fr;
        gap: 48px 32px;
    }
}

@media (max-width: 768px) {
    .place {
        margin: 0 0 72px;
        grid-template-columns: minmax(auto, 340px) 1fr;
        gap: 48px 28px;
    }
}

@media (max-width: 425px) {
    .place {
        grid-template-columns: 1fr;
        gap: 32px;
    }
}

@media (max-width: 320px) {
    .place {
        margin: 0 0 48px;
    }
}


